body{
  background-color: black;
  color: white;

}

a{
	text-decoration: none;
	color: lightblue;
}

nav {
  background-image: url("../img/Test.png");
  background-size: 220%;
  background-repeat: no-repeat;
  width: 100%;
  border-bottom:  2px solid rgba(255, 0, 0, 0.5);
  margin-bottom: 1%;
  padding-bottom: 4%;
}
nav ul:first-of-type{
  text-align: center;
}

nav li {
  margin-top: 2%;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

nav a{
   text-decoration: none;
   color: gold;
}

a:hover{
  color: white;
}

table{
  margin: auto;
  border-radius: 5px;
  border: solid 1px rgba(255, 0, 0, 0.5);
  background-color: #282516;
  text-align: center;
  width: 50%;
}


table tr{
  color: white;

}

form{
 text-align: center;
}

label
{
	display: inline-block;
	width: 150px;

}

.active{
  background-color: rgba(255, 0, 0, 0.5);
  height: 2px;
}

.active a:hover{
  color: white;
}

.image_bouton{
   background-image: url("../img/bouton.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-color: black;
   width: 6em;
   height: 6em;
   border: none;
}

.image_bouton:hover{
  opacity: 0.5;
}
